[Unit]
Description=Celery Djangofather Beat Scheduler
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/projects/DjangoFather/DjangoFather
#ExecStart=/bin/bash -c '/var/projects/DjangoFather/env/bin/celery -A core beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler'
ExecStart=/bin/bash -c '/var/www/projects/DjangoFather/env/bin/celery -A core beat --loglevel=info '
Restart=always
User=root

[Install]
WantedBy=multi-user.target
